.container {
 max-width: 90%;
  margin: 20px auto;
}

mat-form-field {
  width: 30%;
 
}
.sp{
  margin-left: 150px;
}

.item-row {
 
  display: flex;
  align-items: center;

}

.item-row:active {
    background-color: antiquewhite;
    font-size: 22px;
}

.item-row:hover {
  background-color: antiquewhite;
  font-size: 22px;
}



button {
  margin-top: 20px;
}

button mat-icon {
  margin-right: 8px;
}

.head{
  margin: 15px;
}